body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #333; /* Container escuro para melhor contraste com o texto branco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #fff; /* Texto branco */
}

.music-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-cover {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.audio-controls {
    margin-top: 10px;
}

.shop-button button {
    background-color: #1a73e8; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    padding: 10px 20px; /* Padding maior para botão maior */
    border: none; /* Remover borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    font-size: 16px; /* Tamanho de fonte um pouco maior */
    transition: background-color 0.3s; /* Transição suave */
}

.shop-button button:hover {
    background-color: #0f59b5; /* Cor de fundo ao passar o mouse por cima */
}

.audio-controls {
    width: 100%; /* Ajuste a largura para preencher o container */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #333; /* Cor de fundo dos controles */
    color: #fff; /* Cor do texto dos controles */
    padding: 10px;
}

.SeaStudios button {
    background-color: #4400ff; /* Cor de fundo verde */
    color: #fff; /* Cor do texto branco */
    padding: 10px 20px; /* Padding para dimensionar o botão */
    border: none; /* Remover bordas */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave */
}

.SeaStudios button:hover {
    background-color: #8c00ff; /* Cor de fundo mais escura ao passar o mouse por cima */
}
